
.star-icon{
 width: 1em;
 height: 1em;
 padding-bottom: 3px;
}

.text-wrapper{
    font-size: 15px;
}
.erase-icon{
    margin-left: 3px;
    padding-bottom: 2px;
    width: 1.2em;
    height: 1.2em;
    
}
.text-erase{
    font-size: 14px;
}