.comment-box {
  font-size: 0.9rem;
  transition: backgrund-color 0.15s ease-in-out;
  padding: 10px;
}
.comment-box:hover {
  background-color: rgba(0, 0, 0, 0.03);
}
.star-icon {
  width: 1em;
  height: 1em;
  padding-bottom: 3px;
}
.erase-icon {
  margin-left: 3px;
  padding-bottom: 2px;
  width: 1.2em;
  height: 1.2em;
}
